{% extends 'base.html.twig' %}

{% block main %}

    <div id="products-container" class="cbp-l-grid-agency">
        {% for product in products %}
            <div class="cbp-item graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset(product.image) }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">{{ product.name }}</div>
                                <div class="cbp-l-grid-agency-desc">{{ product.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}