{% extends 'base.html.twig' %}

{% block main %}

    <div id="products-container" class="cbp-l-grid-agency">
        <div class="cbp-item graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img3.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 01</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item web-design logos">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img8.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img8.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 02</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item graphic logos">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img9.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img9.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 03</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item web-design graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img10.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img10.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 04</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img11.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img11.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 05</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img12.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 06</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item web-design identity">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img18.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img18.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 07</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item identity logo">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img19.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img19.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 08</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="assets/img/main/img20.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">Design Object 09</div>
                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/end Grid Container-->
</div>

{% endblock %}